.fullscreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.button-primary {
  background-color: #1e90ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.button-primary:hover {
  background-color: #1c86ee;
}
